<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body class="bg-sky-100">
    <section>
     <div class="min-w-fill">
      <%- include('./partials/nav.ejs')%>
     </div>
      <div class="mx-auto flex justify-center my-8 items-center">
        <%- include('./forms/studentRegistration.ejs')%>
      </div>
    </section>
  </body>
</html>
