<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>
    <section>
      <% if (isNull) { %>
      <div
        class="max-w-4xl mx-auto text-lg font-bold text-center mt-20 text-red-400"
      >
        <p>Nothing Updated</p>
      </div>
      <% } else { %>
        <div class="max-w-4xl mx-auto flex justify-center my-8 items-center">
          <%- include('./forms/studentRegistration.ejs')%>
        </div>
      <% } %>
    </section>
  </body>
</html>
