<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body class="bg-sky-100">
    <%- include('./partials/nav.ejs')%>
    <section>
        <div class="text-4xl text-sky-400 mx-auto max-w-4xl text-center mt-28 font-bold font-mono">
          Sorry the page could not be Found
        </div>
    </section>
  </body>
</html>
